.container-banner {
	position: fixed;
	top: 12%;
}

.container-banner img {
	max-width: 100%;	
}

.container-banner svg {
	width: 5%;	
	fill: #fff;
	position: absolute;
	right: 0.8rem;
	top: 0.8rem;
}

@media screen and (min-width: 546px) {
	.container-banner {
		width: 40%;
		top: 7%;
		left: 30%;
	}
}
